.dropdown-menu{
  background: #6100e1;
  border: solid 2px #28005d;
  :hover{
    background: #5000b8;
  }

  .dropdown-item{
    color: whitesmoke;
    :hover{
      color: aliceblue;
    }
  }
}
.hero-section{
  background-color: #6100e1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10%;
  color: whitesmoke;

    .hero-text{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  
    .hero-img{
      width: 90%;
    }
}